* {
	font-family: $font;
	box-sizing: border-box;
	background-color: #fff;
	color: $theme;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.fa{
	cursor : pointer;

	&.fa-facebook{
		color: $facebook;
	}

	&.fa-twitter{
		color: $twitter;
	}

	&.fa-instagram{
		color: $instagram;
	}

	&.fa-phone{
		color: $phone;
	}

	&:active, &:focus, &:hover{
		background-color: #fff;
		outline: none;
		box-shadow: none;
	}
}

i:active, i:focus, i:hover{
	background-color: none;
	outline: none;
	box-shadow: none;
}