$force: !important;
$dark-white: darken(#fff, 25%);
$big-page-header-font: 80px; 
$link-bg-color: lighten(#808080, 10%);
$success: rgba(127, 186, 0, 1);
$danger: rgba(255, 0, 0, 1);
$orange: rgba(253, 198, 29, 1);
$primary: #00aff0;
$facebook: darken(#337ab7, 5%) $force;
$twitter: #74b1ff $force;
$phone: green $force;
$instagram: #844822 $force;
$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;
$archive: #b1a505;
$lg: 1440px;
$pad: 1024px;
$pad-min: 1025px;
$tbl: $pad;
$sm: 767px;
$tbl-min: 768px;
$red: #d9534f;
$base: darken(#fff, 5%);
$emaxie-color: rgb(230, 0, 0);
$color: rgb(188, 138, 0);
$color-dk: darken(rgb(188, 138, 0), 30%);
$line: #a9a9a9;
$shadow: 0px 2px 4px rgba(#000, .3);
$font: 'Segoe UI', helvetica, 'Trebuchet MS', arial, sans serif;
$theme: #000;