$force : !important;
$dark-white : darken(#fff, 25%);
$big-page-header-font : 80px; 
$link-bg-color : lighten(#808080, 10%);
$success : rgba(127, 186, 0, 1);
$danger : rgba(255, 0, 0, 1);
$lovely : rgba(255, 255, 0, 1);
$dark-lovely : darken($lovely, 9%);
$orange : rgba(253, 198, 29, 1);
$primary : #00aff0;
$font-sm : 15px;
$tab-padding : (718 - 355) / 2;
$choclate : lighten(rgba(34, 34, 34, 1), 10%);
$red : rgba(255, 0, 0, 1);
$facebook : darken(#337ab7, 5%) $force;
$twitter : #74b1ff $force;
$instagram: #844822 $force;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$brand-primary:         darken(#428bca, 6.5%);
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger: 			#d9534f !default;