@keyframes flip{
	0%	{
		transform: rotateY(0deg);
	}
	50%	{
		transform: rotateY(360deg);
	}
	90%	{
		transform: rotate(30deg);
	}
	100%	{
		transform: rotate(0deg);
	}
}

@keyframes bounce{
	0%{
		margin-top: 0px;
	}
	50%{
		margin-top: 20px;
	}
	100%{
		margin-top: 0px;
	}
}

@keyframes milk-shake-left{
	0%{
		margin-left: 0px;
	}
	50%{
		margin-left: 20px;
	}
	100%{
		margin-left: 0px;
	}
}

@keyframes milk-shake-right{
	0%{
		margin-right: 0px;
	}
	50%{
		margin-right: 20px;
	}
	100%{
		margin-right: 0px;
	}
}

@keyframes milk-shake-left-sm{
	0%{
		margin-left: 0px;
	}
	50%{
		margin-left: 10px;
	}
	100%{
		margin-left: 0px;
	}
}

@keyframes milk-shake-right-sm{
	0%{
		margin-right: 0px;
	}
	50%{
		margin-right: 10px;
	}
	100%{
		margin-right: 0px;
	}
}

@keyframes countdown{
	0%{
		left: -30%;
	}
	100%{
		left: 0%;
	}
}