.block{
	overflow-x: hidden;
}

.block-content{
	z-index: 2;
	transition: transform .5s ease-out;

	@media print, screen and (max-width: 767px) {
		transition: transform .5s ease-out;
	}
}

.block-overlay{
	z-index: 3;
	overflow-x: hidden;
}

.block-backdrop-1{
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	transition: all .5s ease-out;

	h1{
		width: 100%;
		right: 0;
		top: 0;
		font-family: 'BioRhyme', sans-serif;
		font-weight: 100;
		color: #fff;
		position: relative;
		text-align: center;
		padding: 30px;
		text-transform: capitalize;
		background-color: rgba(#f00, .75);
		font-size: 400%;

		@media print, screen and (max-width: 767px) {
			width: 100%;
			font-size: 150%;
			font-weight: 100;
			text-align: center;
			padding: 10px 0px;
			top: 0;
		}
	}

	div.notification{
		font-family: 'aldrich', sans-serif;
		font-weight: 400;
		font-size: 230%;
		width: 80%;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 5%;
		color: #515154;
		transition: all .5s ease-out;

		br{
			@media print, screen and (min-width: 768px) {
				display: none;
			}
		}

		i.fa-bars{
			color: red;
		}

		span{
			color: #000;
			cursor: pointer;
		}

		span.smiley{
			@media print, screen and (min-width: 768px) {
				display: block;
				font-size: 600%;
				color: rgba(255, 0, 0, 0.9);
			}

			font-size: 290%;
		}

		@media print, screen and (max-width: 767px) {
			width: 95%;
			font-size: 150%;
			padding-top: 15%;
			line-height: 2;
		}
	}
}