section.banner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;

  & > main{
    color: gray;
    font-size: 300%;
    font-weight: 100;
    line-height: 2;
    margin: auto;
    width: 100%;
    font-family: Montserrat, $font;

    & > span {
      display: block;

      &:last-of-type {
        font-weight: 900;
        color: orange;
      }
    }
  }
  
  & > img{
    width: 100%;
  }
}