@keyframes swipe{
  from{
    transform: translate(0, 0);
  }
  to{
    transform: translate(10px, 0);
  }
}

section.category {
  width: 100%;
  padding-bottom: 20px;
  transition: opacity .5s ease-out;
  background-color: #fff;

  &.fade{
    opacity: 0;
  }

  & > h1 {
    @extend .title-caption;
    color: $T2;
    background-color: transparent;
  }

  & > main{
    width: 100%;
    overflow-x: hidden;
    padding: 10px 0px; 
    position: relative;
    background-color: transparent;

    & > h2{
      text-transform: uppercase;
      font-family: $font;
      font-weight: 700;
      padding: 0px 20px;
      color: #555;
      font-size: 100%;
      text-align: left;
      background-color: transparent;
    }

    &:last-of-type{
      padding-bottom: 0px;
      
      @media screen and (min-width: $min) {
        padding-bottom: 3px;
      }
    }
    
    & > div{
      width: auto;
      height: 205px;
      white-space: nowrap;
      padding: 15px 20px 25px;
      overflow-x: auto;
      background-color: darken(#fff, 2.5%);
      display: block;
      position: relative;
      text-align: left;
      box-shadow: 0px 4px 2px -1px rgba(0, 0, 0, 0.1),
      0px 0px 4px rgba(0, 0, 0, 0.2);
      
      @media screen and (min-width: $min) {
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start
      }

      &::-webkit-scrollbar {
        visibility: hidden;
        height: 0px;
        display: none;
      }

      & > div.chart{
        width: 120px;
        margin: 10px 20px;
        margin-left: 0px;
        cursor: pointer;
        display: inline-block;
        box-shadow: 0px 4px 2px -3px rgba(0, 0, 0, 0.2),
        0px 2px 8px rgba(0, 0, 0, 0.3),
        0px 0px 4px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
        border-radius: 3px;
        
        @media screen and (min-width: $min) {
          width: calc(25% - 10px);
          margin: 10px 0px;
        }
        
        & > img{
          height: 100px;
          width: 100%;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        & > div{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #fff;
          margin-top: -5px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 5px;

          & > h3{
            font-family: $font;
            font-weight: bold;
            color: $T1;
            font-size: 80%;
            margin: 0px;
            margin-top: -2px;
            text-align: center;
            background-color: transparent;
            height: auto;
            
            &:first-of-type{
              color: gray;
              font-weight: 300;
            }
          }
        }

        &:last-of-type{
          margin-right: 0px;
        }
      }

      &:last-of-type {
        padding-bottom: 20px;
      }
    }

    & > footer{
      bottom: 42px;
      position: relative;
      display: flex;
      justify-content: space-between;
      background-color: transparent;
      padding: 0px 20px;
      align-items: center;

      & > a.view-all {
        text-decoration: none;
        font-size: 85%;
        background-color: #fff;
        padding: 5px 10px;
        color: $T1;
        font-weight: 400;
        font-family: $font;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        height: auto;
        width: auto;
        box-shadow: 0px 8px 4px -3px rgba(0, 0, 0, 0.2),
        0px 2px 8px rgba(0, 0, 0, 0.3),
        0px 0px 8px rgba(0, 0, 0, 0.1);
      }
      
      & > i {
        color: gray;
        font-size: 120%;
        position: relative;
        background-color: transparent;
        font-weight: 700;
        display: inline-block;
        animation: swipe ease-in .5s infinite alternate;
      }

      @media screen and (min-width: $min) {
        display: none;
      }
    }

    @media screen and (min-width: $min) {
      padding: 3px;
      margin-bottom: 50px;
    }
  }

  & > figure {
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
  }
}