html, body {
  transition: all .5s ease-in;
  @media screen and (min-width: $min) {
    overflow-x: hidden;
    margin: auto;
  }
  
  div#root{
    @media screen and (min-width: $min) {
      width: 600px;
      padding: 10px;
      margin: auto;
    }
  }

  div#soil{
    z-index: -1;
  }
}