form.info-form{
  position: relative;
  padding: 0px 20px;
  margin: 80px 0px 30px;
  transition: all .5s ease-in;
  
  h3{
    text-transform: uppercase;
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 105%;
  }
  
  input{
    width: calc(100% - 5px);
    padding: 5px;
    color: #555;
    border: none;
    border-bottom: 3px solid $T1;
    box-shadow: none;
    font-size: 90%;
    margin-bottom: 40px;
    font-family: $font;
    transition: all .5s ease;
    font-weight: 700;
    
    &:focus{
      outline: none;
      border-bottom-color: $T2;
      color: $T2;
      font-weight: 700;
    }
    
    &:empty{
      font-weight: 400;
    }
  }
  
  button{
    font-family: $font;
    border: none;
    color: $T1;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0px 0px;
    height: 26px;
    overflow: hidden;
    transition: all .5s ease-out;

    &:focus, &:active{
      outline: none;
      border: none;
      color: darken($T2, 0%);
    }

    &.freezed{
      height: 0px;
    }
  }

  @media screen and (min-width: $min) {
    width: 600px; 
    padding: 0px 25px;
  }
}