header.invoice-card {
  padding: 0px 5px;
  color: gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  box-shadow: 0px 2px 4px #fff;

  & > h4{
    margin: 0px;
    margin-right: auto;
    padding: 2px 0px;
    padding-right: 10px;
    font-size: 120%;
    color: orange;

    span{
      color: #555;
    }
  }

  & > i{
    padding: 0px 5px;
    direction: rtl;
    position: relative;
    right: 40px;
    color: #000;

    &:active, &:focus, &:hover{
      color: orange;
    }
  }
}

div.invoice-card {
  overflow: hidden;
  height: 90%;

  & > i {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 600%;
    padding: 20px;
    color: #555;
    height: 38%;

    &.click {
      color: green;
    }
  }

  & > h3 {
    text-align: center;
    font-size: 200%;
    color: #555;
    font-family: $font;
    font-weight: 700;
    
    &:nth-of-type(2) {
      height: 42.5%;
      background-color: orange;
      color: #fff;
      font-size: 150%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      margin: 0px;
      z-index: 5;
      transition: all .25s ease;
    }

    &.click {
      background-color: green;
    }
  }
}