section.item{
  width: 100%;
  overflow-x: hidden;

  figure{
    padding: 0px;
    margin: 50px auto 20px;

    img{
      @extend .shadow;
      width: 100%;
      max-height: 240px;
      position: relative;

      @media screen and (min-width: $min) {
        border-radius: 3px;
        margin-top: 5px;
        max-height: 500px;
      }
    }
    
    figcaption{
      position: relative;
      padding: 0px 20px;
      margin-top: 0px;

      header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 20px 0px;
        font-weight: 700;

        h2{
          margin: 0px;
          color: #333;
          font-size: 100%;
          text-transform: uppercase;
          font-family: $font;
        } 
        
        span{
          color: $T1;
          font-size: 100%;
        }
      }

      p{
        color: gray;
        font-size: 90%;
        line-height: 1.8;
        margin: 0px 0px 20px;
      }

      footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        input{
          padding: 5px;
          color: $T1;
          border: none;
          border-bottom: 3px solid $T1;
          box-shadow: none;
          text-align: center;
          font-weight: 700;
          font-size: 100%;
          font-family: Roboto;
        }

        button{
          border: none;
          font-size: 90%;
          color: #555;
          padding: 5px;

          i.active{
            color: $T1;
          }

          &:focus{
            outline: none;
          }
        }

        @media screen and (min-width: $min) {
          justify-content: space-around;
        }
      }
    }

    @media screen and (min-width: $min) {
      padding: 0px 5px;
      margin-top: 60px;
      margin-bottom: 30px;
    }
  }
}