button.over-button{
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  box-shadow: none !important;
  
  & > i{
    position: absolute;
    background-color: transparent;
    margin: auto;
    z-index: 1;

    &.over{
      font-size: 1200%;
      color: rgba(darken($T1, 20%), .95);
    }
    
    &.under{
      z-index: 2;
      font-size: 550%;
      color: transparent;
    }
  }
}