div.svg-loading-bar {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 160px;
  justify-content: center;

  & > svg {
    background-color: #f2f2f2;
    height: 2px;
  }

  @media screen and (min-width: $min) {
    width: 40%;
  }

  &.ready {
    animation: poof .3s ease-in forwards;
  }
}