$force: !important;
$min: 600px;
$facebook: darken(#337ab7, 5%) $force;
$twitter: #74b1ff $force;
$phone: green $force;
$instagram: #d62d78 $force;
$whatsapp: #27c34b $force;
$font: Roboto,
-apple-system,
BlinkMacSystemFont,
Oxygen,
Ubuntu,
Cantarell,
Open Sans,
Helvetica Neue,
sans-serif,
'Segoe UI';
$T1: #ff2d00;
$T2: #18035b;